
{% load static %}

<aside class="main-sidebar sidebar-light-caution elevation-4">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
      <!-- Brand Logo -->
      <a class="brand-link">
    
        <span class="brand-text font-weight-light">Super Admin</span>
      </a>
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

          </div>
          <div class="info">
            <a class="d-block">{{ request.user.username }} </a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

                

            <li class="nav-item">
             
              <a  class="nav-link" href="{% url 'staff_view' %}">
                <i class='fas fa-users' style='font-size:22px;margin: 5px;'></i>
                <p>
                  View all staff
                </p>
              </a>
            </li>
            <li class="nav-item">
            
              <a class="nav-link" href="{% url 'manage_admin' %}">
                <i class='fas fa-user-cog' style='font-size:22px;margin: 5px;'></i>
                <p>
                  Manage Admins
                </p>
              </a>
            </li>

          

            <li class="nav-item">
              
              <a  class="nav-link" href="{% url 'create_admin' %}">
              <i class='fas fa-user-plus' style='font-size:22px;margin: 5px'></i>
                <p>
                  Create Admin
                </p>
              </a>
            </li>
            <li class="nav-item">
              
              <a  class="nav-link" href="{% url 'manage_users' %}">
                <i class="fas fa-users" style='font-size:22px;margin: 5px'></i>
                <p>
                  Manage Users
                </p>
              </a>
            </li>
            <li class="nav-item">
              
              <a  class="nav-link" href="{% url 'create_user' %}">
               <i class='fas fa-user-plus' style='font-size:22px;margin: 5px'></i>
                <p>
                  Create User
                </p>
              </a>
            </li>
            <li class="nav-item">
              
              <a  class="nav-link" href="{% url 'manage_tasks' %}">
                <i class="fa fa-server" style="font-size:22px;margin: 5px"></i>
                <p>
                 Manage Task
                </p>
              </a>
            </li>
            <li class="nav-item">
              
              <a  class="nav-link" href="{% url 'super_create_task' %}">
                <i class="fa fa-plus" style="font-size:22px;margin: 5px"></i>
                <p>
                 Create Task
                </p>
              </a>

            </li>
          <a  class="nav-link" href="{% url 'fetch_completed_task' %}">
               <i class="fas fa-tasks" style='font-size:22px;margin: 5px'></i>
                <p>
                  Completed Task
                </p>
              </a>
            </li>

         

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>